@import url("https://fonts.googleapis.com/css2?family=Borel&family=Hina+Mincho&family=Jacques+Francois&family=Linden+Hill:ital@0;1&family=Playfair+Display&family=Roboto&family=Ruluko&family=Spirax&display=swap");
@import url("https://coolors.co/f9f3e3-576371-0fc50d-fe6b00-ffffff");

:root{
    --primary-color:#f9f3e3;
    --secondary-color:#576371;
    --accent-color-1:#ffffff;
    --accent-color-2:#0fc50d;
    --accent-color-3:#fe6b00;
    
}

*body{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--accent-color-1);
}

#main-header{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    width: 100%;
    background-color: #576371;
}


.cart{
    position: absolute;
    right: 0;
    max-width: 100%;
}
.cart svg{
    width: 30px;
    margin-right:2rem;
    
}

#business-name img{
    width: 80px;
    margin-left:1rem;
}

#business-name a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

#cart-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row;
    gap: 2rem;
}

.cart-item img{
    width: 100%;
}

.cart-item p{

    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}


#check-out{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    
}

#checkout-button{
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}

#calculations{
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
}
button.hide{
 display: none;   
}

#main-footer{
    display: block;
    margin-left: -60%;
}

#search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search{
    display: flex;
    width: 4rem;
}

#submit-button{
    margin-right: 0.5rem;
}

#business-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hero-image{
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 40rem;
}

#hero-image img{
    width: 100%;
    height: 100%;

}

img:hover{
    opacity: 0.6;
    border-radius: 15%;
}

#upper-section{
    display: flex;
    flex-direction: column;
}
.welcome-paragraph p{
    text-align: center;
    margin: 0 1rem;
    font-size: 2rem;
}

.category h2{
    text-align: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: row;
    gap: 1rem;
    visibility: visible;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img{
    width: 100%;
}

.grid-item a{
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

/********************
Css for fruits.html page
**********************/

#fruits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: row;
    gap: 1rem;
    visibility: visible;
}

.grid-fruit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-fruit img{
    width: 100%;
    height: 80%;
}

.buttons{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

.grid-fruit a{
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}




